blockquote {
	border-left-color: #0091ea;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	-webkit-transition: background-color .4s, color .4s;
	transition: background-color .4s, color .4s;
}

i.material-icons {
	vertical-align: middle;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #0091ea;
	-webkit-box-shadow: 0 1px 0 0 #0091ea;
	box-shadow: 0 1px 0 0 #0091ea;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
	color: #0091ea;
}

main {
	flex: 1 0 auto;
	min-height: 50vh;
}

#sidenav-overlay {
	z-index: 996;
}

.parallax-container {
	height: 50vh;
}

.side-nav li>a.sidenav-link {
	padding: 0 16px;
}

.switch label input[type=checkbox]:checked+.lever {
	background-color: #40c4ff;
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: #0091ea;
}

.tabs .indicator {
	background-color: #0091ea;
}